.linker_container {
  box-shadow: 0 2px 6px black;
  margin-bottom: 20px;

  color: #e8e8e8;
  background-color: var(--emphasize-color);
  padding: 12px 0;
  font-weight: normal;

  .isFolder {
    font-family: 'SebangGothic';
  }
}

.linker {
  cursor: pointer;
  font-size: 18px;
  padding-left: 1em;
  color: #e8e8e8;

  .isFolder {
    font-size: 22px;
  }
}

.linker_row {
  display: flex;
  align-items: center;
  margin: 4px 0;

  &:not(.isFolder) {
    padding-left: 0.5rem;
  }
}

.linker_label {
  padding: 3px 0.4rem;
  border-radius: 5px;
}

.isSelected {
  background-color: #e8e8e8;
  color: var(--emphasize-color);
}

.arrow {
  position: relative;
  content: '';
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 1px solid white;
  border-top: 1px solid white;
  transform: rotate(45deg);
  margin-right: 0.5em;
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.arrow.isOpen {
  transform: translateY(-3px) rotate(135deg);
}
