.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top_container {
    width: 100%;
    max-width: 960px;
    background-color: #e8e8e8;

    .card {
      box-shadow: 0 2px 6px black;
      margin-bottom: 20px;
      padding: 32px 6%;

      color: #444;
      background-color: #f6f6f6;
    }

    .header {
      background-color: var(--emphasize-color);
      color: #f0f0f0;

      h1 {
        font-size: 3.2rem;
        padding-bottom: 16px;
        line-height: 1.3em;
      }

      h2 {
        font-size: 0.8rem;
      }
    }

    /* 마크다운 CSS */
    .content {
      font-size: 1rem;

      > * {
        margin-top: 1rem;
        margin-bottom: 10px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: bold;
        margin-top: 3rem;
        margin-bottom: 1.2rem;
        cursor: pointer;
      }

      h1 {
        font-size: 2.5rem;
        padding-bottom: 15px;
        border-bottom: 4px solid var(--emphasize-color-bright);
      }

      h2 {
        font-size: 2rem;
        padding-bottom: 14px;
        border-bottom: 4px solid var(--emphasize-color-bright);
      }

      h3 {
        font-size: 1.8rem;
        padding-bottom: 10px;
        border-bottom: 4px solid #e8e8e8;
      }

      h4 {
        font-size: 1.6rem;
        padding-bottom: 9px;
        border-bottom: 4px solid #e8e8e8;
      }

      h5 {
        font-size: 1.5rem;
        padding-bottom: 8px;
        border-bottom: 3px solid #eee;
      }

      h6 {
        font-size: 1.4rem;
        padding-bottom: 7px;
        border-bottom: 3px solid #eee;
      }

      /* 하위 헤더가 상위 헤더 바로 아래에 나오는 경우에는 간격을 덜띄운다 */
      h1 + h2,
      h1 + h3,
      h1 + h4,
      h1 + h5,
      h1 + h6,
      h2 + h3,
      h2 + h4,
      h2 + h5,
      h2 + h6,
      h3 + h4,
      h3 + h5,
      h3 + h6,
      h4 + h5,
      h4 + h6,
      h5 + h6 {
        margin-top: 1.2rem;
      }

      /* 일반 단락 */
      p {
        line-height: 1.5em;
        margin-bottom: 10px;
      }

      /* 이미지 */
      img {
        width: 100%;
      }

      /* 링크 */
      a {
        color: var(--emphasize-color);
        font-weight: bold;
        text-decoration-line: underline;
      }

      a:hover {
        color: var(--emphasize-color-bright);
      }

      /* 굵게 */
      strong {
        font-weight: bold;
      }

      /* 기울임 */
      em {
        font-style: italic;
      }

      /* 인라인 소스코드 */
      p code {
        background-color: var(--code-background);
        color: #eee;
        font-family: 'consolas';
        font-size: 0.8rem;
        padding: 3px 0.3rem;
        vertical-align: bottom;
        border-radius: 5px;
      }

      /* 인용 */
      blockquote {
        border-left: 5px solid var(--emphasize-color);
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 14px;
        color: gray;
        background-color: #efefef;
        box-shadow: -2px 1px 5px -2px black;
      }

      blockquote p {
        margin-bottom: 1rem;
      }

      blockquote p:last-child {
        margin-bottom: 0;
      }

      /* 소스코드 */
      pre {
        border-radius: 6px;
        margin: 0 2px;

        code {
          display: block;
          font-family: 'consolas';
          font-size: 0.8rem;
          padding: 16px;
          line-height: 1.4em;
          white-space: pre-wrap;
          word-break: break-all;
        }

        /* hljs의 도움을 받지 않는 두 번 탭한 경우 */
        &:not([class~='hljs']) {
          background: var(--code-background);
          color: #eee;
        }
      }

      /* 표 */
      table {
        width: 100%;
        min-width: 360px;
        border-collapse: separate;
        border-spacing: 0 6px;
        font-size: 0.8rem;

        tr {
          height: 2rem;
          box-shadow: 0 3px 5px -3px black;
          background-color: #fcfcfcfc;
        }

        th {
          text-align: left;
          vertical-align: middle;
          padding: 0.8rem;
        }

        td {
          vertical-align: middle;
          padding: 0.8rem;

          &:not(:last-child) {
            border-right: 2px solid #eee;
          }
        }

        thead {
          font-weight: bold;

          tr {
            background-color: var(--emphasize-color);
            color: #efefefef;
          }

          th:not(:last-child) {
            border-right: 2px solid var(--emphasize-color-dark);
          }
        }
      }

      /* 리스트 */
      li {
        font-size: 0.9rem;
        padding-left: 10px;
        margin-left: 1rem;
        line-height: 1.5rem;
      }

      ul li {
        list-style: '- ';
      }

      ol li {
        margin-left: 2rem;
        list-style-type: decimal;
      }

      ol li::marker {
        font-weight: bold;
      }

      /* 이미지 */
    }
  }
}

/* 태그 */
.tags_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  line-height: 2rem;
}

.tags_container span:first-child {
  padding-right: 4px;
}

.tags {
  font-size: 0.8rem;
  background-color: rgb(243, 50, 50);
  color: white;
  padding: 3px 6px;
  margin-right: 0.5rem;
  margin-bottom: 4px;
  box-shadow: 0 0 3px black;
  line-height: 1rem;
}
